.reviews-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.reviews-and-card-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
}


@media (max-width: 1300px) {
  .reviews-and-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 30px;
  max-height: 700px;
  overflow-x: hidden;
  box-sizing: border-box;
  overflow-y: scroll;
}

@media (max-width: 1300px) {
  .reviews-container {
    margin-left: 0;
  }
}

@media (max-width: 769px) {
  .reviews-container {
    overflow-y: hidden;
    max-height: fit-content;
  }
}

.fyq-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 980px) {
  .fyq-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}

.fyq {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 85%;
}

@media (max-width: 980px) {
  .fyq {
    width: 100%;
    align-items: center;
  }
}


.fyq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 30px;
}


@media (max-width: 980px) {
  .fyq-container {
    width: 80%;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .fyq-container {
    margin-left: -30px;
  }
}

.course-space {
  visibility: hidden;
  width: 110%;
}

.course-card-container {
  position: fixed;
  right: 0;
  top: 170px;
  margin-right: 20px;
  margin-left: 20%;
}

@media (max-width: 1300px) {
  .course-space {
    display: none;
  }
  
  .course-card-container {
    display: none;
  }
}