.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .div_dashboard {
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .input_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
 
  .input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-top: 5px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  .button_d {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .button_d:hover {
    background-color: #0056b3;
  }
  
  .materials_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .materials_container label {
    margin-top: 10px;
  }
  
  .materials_container input[type="text"] {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .add_material_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .add_material_button:hover {
    background-color: #0056b3;
  }
  