@keyframes opacityin {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
  .inscription-container {
    width: 250px;
    margin-bottom: 10%;
    animation-name: opacityin;
    animation-duration: 1s;
  }

  .input-container {
    margin-top: 8%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
 .input-container label{
  margin: 10px;
 }
  .button-inscription{
      display: block;
      justify-content: center;
      align-items: center;    
      margin: 0 auto;
      margin-top: 15px;
      width: 130px;
      height: 57px;
      background: #ffffff;
      border: 3px solid #eb575a;
      border-radius: 16px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 15.4302px;
      line-height: 33px;
      color: #eb575a;
    
  }

  .button-inscription:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }