.custom-button-main-important,
.custom-button-main-secondary,
.custom-button-main-undisabled,
.custom-button-main-important-submit,
.custom-button-main-important-submit-secondary {
  background-color: #EB575A;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  height: fit-content;
  width: fit-content;
  padding: 13px 20px;
  font-family: "Montserrat", sans-serif;
}

.custom-button-main-undisabled,
.custom-button-main-secondary,
.custom-button-main-important-submit-secondary{
  background-color: transparent;
  border: solid 2px #EB575A ;
  color: #EB575A;
}

.custom-button-main-undisabled,
.custom-button-main-important-submit,
.custom-button-main-important-submit-secondary {
  width: 100%;
  margin-top: 30px;
}
