@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

@keyframes opacityin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.review-card {
  display: flex;
  height: fit-content;
  width: 97%;
  padding: 10px 10px 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px 0.3px #bcbbbb; 
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  animation-name: opacityin;
  animation-duration: 0.5s;
}

@media(max-width: 750px) {
  .review-card {
    width: 340px;
  }
}

.picture {
  border-radius: 50%;
  width: fit-content;
  max-width: 85px;
  max-height: 80px;
  margin-top: 20px;
  margin-right: 20px
}

.info-review-container {
  width: 100%;
}

.head-info-review {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 750px) {
  .head-info-review {
    flex-direction: column;
  }
}

.head-info-review strong {
  margin-left: 10px;
}

/* @media(max-width: 750px) {
  .head-info-review strong {
    fmarg
  }
} */