.course-container {
  display: flex;
  margin-left: 3%;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.course-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 399px;
  height: 406px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #e5e4da;
  border-radius: 12px 12px 12px 12px;
}

.course-card img {
  width: 399px;
  height: 180px;
  border-radius: 12px 12px 0 0;
}

.course-card h3 {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 364px;
  height: auto;
  background: #e5e4da;
  border-radius: 0px 0px 12px 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 37.8975px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}
.card-button {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 12px;
  width: 363px;
  height: 57px;
  background: #ffffff;
  border: 3px solid #eb575a;
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28.4302px;
  line-height: 33px;
  color: #eb575a;
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-decoration: none;
  border: none;
}
@media (max-width: 768px) {
  .course-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 399px;
    height: 406px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #e5e4da;
    border-radius: 12px 12px 12px 12px;
  }

  .course-image img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
  }

  .course-h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px 18px;
    gap: 60px;
    width: 89%;
    height: auto;
    background: #e5e4da;
    border-radius: 0px 0px 12px 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 37.8975px;
    line-height: 44px;
    text-align: center;
    color: #000000;
  }

  .course-h3 button {
    width: 80%;
    margin-left: 10%;
  }
}
