.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container {
  width: 100%;
  position: relative;
  z-index: 1;
}

.h1-home {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50.5174px !important;
  line-height: 59px;
  text-align: center;
  margin-bottom: 20px;
}

.cards-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 12%;
}


@media only screen and (max-width: 995px) {
  .cards-home {
    margin-top: 70px;
    gap: 10px;
    padding-top: 8%;
  }
  .h1-home{
    margin-top: 50px;
    gap: 10px;
    padding-top: 3%;
  }
  .nav-filter {
    margin-top: 90px;
    gap: 12px;
    padding-top: 10%;
  }
  
}


@media only screen and (max-width: 767px) {
  .cards-home {
    gap: 10px;
    padding-top: 8%;
  }
}
.h1-home{
 font-size: 30px;
}
.nav-filter {
  margin-top: 80px;
  gap: 15px;
  padding-top: 10%;
}
@media only screen and (max-width:591px) {
  .cards-home {
    margin-top: 90px;
    gap: 12px;
    padding-top: 20%;
  }
  .h1-home {
display: none;
  }
  .nav-filter {
    margin-top: 100px;
    margin-bottom: 10%;
  }
  
}
@media only screen and (max-width: 500px) {
  @media only screen and (max-width: 500px) {
    .cards-home {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 140px;
      width: 100%;
    }
  }
  
}
@media only screen and (max-width:414px) {
  .h1-home {    
  display:none ;
  }

  .cards-home {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 140px;
      width: 100%;
      margin-left: 30%;
    }
}

@media only screen and (max-width:300px) {
  .cards-home {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-left: 40%;
  }
}