.register-container{
    width: 400px;
    margin-top: 10%;
    margin-bottom: 10%;

}
.register-container p {
    color: red;
    font-weight: 600;
    font-size: 0.8em;
    margin-top: 0.2em;
  }
.register-container button{
    display: block;
    justify-content: center;
    align-items: center;    
   margin: 0 auto;
    width: 100px;
    height: 57px;
    background: #ffffff;
    border: 3px solid #eb575a;
    border-radius: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15.4302px;
    line-height: 33px;
    color: #eb575a;
}
.name-input-container{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-input-container label{
    font-weight: 600;
}

.name-input-container input{
    border: 3px solid #eb575a;
    border-radius: 8px;
    height: 25px;
}

.lastname-input-container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lastname-input-container label{
    font-weight: 600;
}

.lastname-input-container input{
    border: 3px solid #eb575a;
    border-radius: 8px;
    height: 25px;
}


.birthday-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  .birthday-input-container label {
    margin-bottom: 5px;
    font-weight: 600;
  }
  .birthday-input-container input {
    border: 3px solid #eb575a;
    border-radius: 8px;
    height: 25px;
    width: 160px;
    margin-bottom: 5%;
  }
  