@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

@keyframes opacityin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.user-card {
  display: flex;
  height: fit-content;
  width: 450px;
  padding: 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px 0.3px #bcbbbb; 
  font-family: 'Montserrat', sans-serif;
  animation-name: opacityin;
  animation-duration: 1s;
  margin-bottom: 30px;
}

@media(max-width: 750px) {
  .user-card {
    width: 340px;
  }
}

.picture {
  border-radius: 50%;
  width: fit-content;
  max-width: 85px;
  max-height: 80px;
  margin-top: 20px;
  margin-right: 20px
}

.contact-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact {
  font-size: 20px;
  font-weight: 700;
  padding-right: 30px;
}


.user-description {
  font-size: 18px;
}