@keyframes opacityin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.paginated-main {
  margin-top: 20px;
  animation-name: opacityin;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.paginated-numbers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 300px;
}

@media(max-width: 750px) {
  .paginated-numbers-container {
    width: 100%;
  }
}

.pagination__item,
.paginated-number,
.current-page {
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(227, 227, 227);
  padding: 10px;
  border-radius: 30%;
  border: none;
  color: #7b7b7b;
  transition: all 0.2s ease-in-out;
  list-style-type: none;
}

.paginated-number:hover,
.current-page:hover {
  transform: scale(1.2);
}

.current-page {
  background-color: #eb575a;
  color: #fff;
  list-style-type: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  list-style-type: none;
}


@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
  }
}


.pagination__item--selected {
  background-color: #eb575a;
  color: #fff;
  list-style-type: none;
}

.pagination__item--disabled {
  opacity: 0.5;
  cursor: not-allowed;
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  /* .pagination {
    flex-wrap: wrap;
  }

  .pagination__item {
    margin: 5px;
  } */
}

