@keyframes opacityin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.class-detail-main  {
  width: 100%;
  animation-name: opacityin;
  animation-duration: 1s;
}

.course-title {
  margin-left: 20px;
  font-size: 48px;
  font-weight: 800;
  margin-top: -90px;
  padding-bottom: 30px;
}

@media(max-width: 1123px) {
  .course-title {
    font-size: 30px;
  }
}

.course-title-color {
  color: #EB575A;
}

.video-description-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

@media(max-width: 1123px) {
  .video-description-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.video {
  width: 700px;
  height: 420px;
}

@media(max-width: 1123px) {
  .video {
    width: 400px;
    height: 320px;
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 15px;
}

@media(max-width: 1123px) {
  .description-container {
    max-width: 80%;
    align-items: center;
  }
}

.description-title {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}

.description-text {
  max-width:500px;
}

@media(max-width: 1123px) {
  .description-text {
    max-width: 80%;
  }
}

.stars-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.certified-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.secciones-temario-container {
  display: flex;
  justify-content: space-evenly;
}


@media(max-width: 1123px) {
  .secciones-temario-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-flow: row wrap-reverse
  }
}

.buttons-and-cards-container {
  width: 50%;
}

@media(max-width: 1123px) {
  .buttons-and-cards-container {
    width: 80%;
  }
}

.buttons-container,
.buttons-sections-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

@media(max-width: 1123px) {
  .buttons-container {
    width: 80%;
  }
}

@media(max-width: 845px) {
  .buttons-container {
    width: 400px;
  }
  .buttons-sections-container {
   flex-direction: column;
   align-items: center;
   gap: 15px;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}