@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap");

.course-detail-main {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
  border-bottom: solid 2px rgba(203, 202, 202, 0.73);
}

@media (max-width: 750px) {
  .course-detail-main {
    margin-top: 30px;
  }
}

.course-detail-head {
  width: 100%;
  height: fit-content;
  background-color: rgba(230, 229, 218, 0.73);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}


.course-detail-head-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 73%;
  margin-left: 7%;
  margin-bottom: 30px;
}

.head-instructor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  font-size: 20px;
  margin: 30px 0;
}

.instructor-name-container {
  display: flex;
  align-items: center;
}

.instructor-name-container div {
  margin-left: 10px;
  color: #424242;
}

.head-instructor-name {
  font-weight: 550;
  color: #424242;
  font-size: 20px;
  margin: 0;
}

.head-instructor-container p {
  margin: 0 0 10px 0;
}

.instructor-head-picture {
  max-height: 80px;
}

.stars-container {
  display: flex;
}

.course-detail-h1-container {
  width: 70%;
  min-width: 800px;
  border-bottom: solid 2px rgba(203, 202, 202, 0.73);
}

@media (max-width: 900px) {
  .course-detail-h1-container {
    min-width: 0px;
  }
}

.course-detail-head h1 {
  color: #eb575a;
  font-size: 1.7rem;
  font-weight: 700;
}

.course-detail-students-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.course-detail-students-container h3 {
  font-weight: 500;
  color: #424242;
}

.buttons-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-button, 
.button-not-selected {
  background-color: transparent;
  border: none;
  border-top: solid 5px #EB575A;
  cursor: pointer;
  font-size: 18px;
  height: fit-content;
  width: fit-content;
  padding: 20px 30px;
  margin-top: -22px;
}

.button-not-selected {
  background-color: rgba(230, 229, 218, 0.73);
  border-top: none;
}

.course-detail-container {
  display: flex;
}


.course-detail-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
