.course-detail-main {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 100%;
  margin-top: 70px;
  padding-bottom: 50px;
  border-bottom: solid 2px rgba(203, 202, 202, 0.73);
}

.modales-courses{
  margin-top: -8%;
  margin-right: 65%;
  margin-left: 15%;
}

.course-detail-head {
  width: 100%;
  height: fit-content;
  background-color: rgba(230, 229, 218, 0.73);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}


.course-detail-head-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 73%;
  margin-left: 7%;
  margin-bottom: 30px;
}

@media (max-width: 700px) {
  .course-detail-head-container {
    align-items: center;
  }
}

.head-instructor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  font-size: 20px;
  margin: 30px 0;
}

@media (max-width: 700px) {
  .head-instructor-container {
    flex-direction: column;
    gap: 20px;
  }
}

.instructor-name-container {
  display: flex;
  align-items: center;
}

.instructor-name-container div {
  margin-left: 10px;
  color: #424242;
}

.head-instructor-name {
  font-weight: 550;
  color: #424242;
  font-size: 20px;
  margin: 0;
}

.head-instructor-container p {
  margin: 0 0 10px 0;
}

.instructor-head-picture {
  max-height: 80px;
  border-radius: 50%;
}

.stars-container {
  display: flex;
  font-size: 18px;
}

.course-detail-h1-container {
  width: 70%;
  min-width: 800px;
  border-bottom: solid 2px rgba(203, 202, 202, 0.73);
}

@media (max-width: 900px) {
  .course-detail-h1-container {
    min-width: 0px;
  }
}

.course-detail-head h1 {
  color: #eb575a;
  font-size: 1.7rem;
  font-weight: 700;
}

.course-detail-students-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

@media (max-width: 700px) {
  .course-detail-students-container {
    align-items: center;
    justify-content: center;
  }
}

.course-detail-students-container h3 {
  font-weight: 500;
  color: #424242;
}

.buttons-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-top: -2px;
  margin-bottom: 20px;
}


@media (max-width: 1300px) {
  .buttons-select-container {
    width: 100%;
  }
}


.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 980px) {
  .buttons-container {
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
}

.selected-button, 
.button-not-selected,
.link-classes-button {
  background-color: transparent;
  border: none;
  border-top: solid 5px #EB575A;
  cursor: pointer;
  font-size: 18px;
  height: fit-content;
  padding: 15px 50px;
  margin-top: -22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  /* min-width: 350px; */
  color: #424242;
  text-decoration: none;
}

.button-not-selected,
.link-classes-button {
  background-color: rgba(230, 229, 218, 0.73);
  border-top: none;
}

@media (max-width: 990px) {
  .selected-button, 
  .button-not-selected {
    min-width: 0;
    width: fit-content;
    padding: 15px 30px;
  }
  
  .link-classes-button {
    min-width: 260px;
    padding: 15px 30px;
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .selected-button, 
  .button-not-selected {
    min-width: 320px;
  }
}

.course-detail-container {
  display: flex;
}


.course-detail-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
