@keyframes opacityin {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.register-container {
  margin-bottom: 10%;
  animation-name: opacityin;
  animation-duration: 1s;
  width: 300px;
}

@media(max-width: 670px) {
  .register-container  {
    width: 300px;    
  }
}

.name-input-container {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.name-input-container input {
  border: 3px solid #eb575a;
  border-radius: 8px;
  height: 25px;
  width: 100%;
}

.lastname-input-container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.lastname-input-container input {
  border: 3px solid #eb575a;
  border-radius: 8px;
  height: 25px;
}

.birthday-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  gap: 5px;
}

.birthday-input-container input {
  border: 3px solid #eb575a;
  border-radius: 8px;
  height: 25px;
  width: 160px;
  margin-bottom: 30px;
}


.birthday-input-container input,
.name-input-container input,
.lastname-input-container input {
  border-radius: 5px;
  outline: none;
  resize: none;
  appearance: none;
  padding: 10px 0;
  padding-left: 5px;
  font-size: 18px;
  width: 100%;
  border: none;
  box-shadow: 0px 6px 10px 0.3px #bcbbbb; 
}

.buttonClass {
  color: #eb575a;
  background-color: #eb575a;
}

@media(max-width: 670px) {
  .birthday-input-container input,
  .name-input-container input,
  .lastname-input-container input  {
    width: 100%;    
  }
}
