body {
  margin: 0;
}
.nav-container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 20%;
  background: #eb575a;
}

.nav-menu {
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.nav-container img {
  margin-top: 2%;
  margin-left: 2%;
}

.nav-menu li {
  list-style-type: none;
  font-weight: 800;
}
.nav-menu li:hover {
  background-color: rgba(255, 255, 255, 0.708);
  color: black;
  border-radius: 5px;
  transform: scale(1.05);
}

.container-link {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: end;
  align-items: flex-end;
  height: 64px;
  top: 16px;
}

.nav-link {
  font-size: 18px;
  margin: 0 80px;
  white-space: nowrap;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.nav-link:hover {
  color: black;
}
/* Estilos para pantallas móviles */
@media screen and (max-width: 975px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    background-color: #eb575a;
    z-index: 2;
    text-align: center; /* Agrega esta línea */
  }
  .nav-menu.active .container-link {
    display: block;
  }

  .nav-menu.active {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350%;
    width: auto;
    padding: 0;
    margin-top: 30%;
  }
  .nav-menu li {
    margin-top: 8%;
  }

  .nav-menu li:hover .nav-link {
    color: black;
    height: 44px;
    background: #f9dfdc;
    width: 100%;
  }

  .nav-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30.8975px;
    line-height: 44px;
    color: #ffffff;
    text-align: center;
  }

  .mobile-menu-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 129px;
    height: 57px;
    background: #ffffff;
    border: 3px solid #eb575a;
    border-radius: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25.4302px;
    line-height: 33px;
    color: #eb575a;
    left: 50%;
    transform: translateX(-50%);
}

  .container-link {
    margin-left: -10%;
  }

  .nav-container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 30%;
    background: #eb575a;
  }
  .nav-container img {
    margin: 0 auto;
    display: block;
  }

  .button-salirMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    gap: 12px;
    position: absolute;
    width: 90%;
    height: 57px;
    left: 16px;
    top: 450px;
    background: #ffffff;
    border: 3px solid #eb575a;
    border-radius: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25.4302px;
    line-height: 33px;
    color: #eb575a;
  }
}
@media screen and (max-width:856px) {
  .nav-menu{
  top:-28%;
  }
  }
  @media screen and (max-width:710px) {
    .nav-menu{
    top:-25%;
    }
    }
@media screen and (max-width: 663px) {
.nav-menu{
top:1%;
}
}
@media screen and (max-width: 523px) {
  .nav-menu{
  top:15%;
  }
  }

@media screen and (max-width: 414px) {
  .nav-container {
    width: 130%;
  }
  .nav-container img {
    transform: scale(0.7);
  }
 .nav-menu{

  top:25%;
 }
}
@media screen and (max-width: 300px) {
  .nav-container {
    width: 145%;
  }
  .nav-container img {
    transform: scale(0.7);
  }
  .nav-menu{
    top:25%;
   }
}

@media screen and (max-width: 270px) {
  .nav-container {
    width: 180%;
  }
  .nav-container img {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 205px) {
  .nav-container {
    width: 200%;
  }
  .nav-container img {
    transform: scale(0.7);
  }
}
