.filter-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 28px;
    position: absolute;
    width: 100%;
    height: 57px;
    top: 110px;
  }
  
  .ul-filter {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
  }
  
  .li-filter{
    margin: 15px;
  }
  
  .button-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 12px 20px;
    gap: 10px;
    width: 240px;
    height: 57px;
    border: 4px solid #f9dfdc;
    border-radius: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 17.4302px;
    line-height: 33px;  
    color: #000000;
  }
  
  .button-filter:active,
  .button-filter:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    width: 119px;
    height: 57px;
    background: #f9dfdc;
    border: 2px solid #f9dfdc;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 0;
  }
  
  
  .select-filter {
    display: none;
  }
  
  @media (max-width: 839px) {
    .button-filter {
      display: none;
    }
    
    .select-filter {
      display: block;
      width: 50%;
      height: 57px;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 80%;
      border: 4px solid #f9dfdc;
      border-radius: 32px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 17.4302px;
      line-height: 33px;
      color: #000000;
    }
  }

  @media (max-width: 414px) {
    .button-filter {
      display: none;
    }
    
    .select-filter {
      display: block;
      width: 50%;
      height: 57px;
      margin: 0 auto;
      position: absolute;
      left: 70%;
      transform: translateX(-50%) translateY(-50%);
      top: 80%;
      border: 4px solid #f9dfdc;
      border-radius: 32px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 17.4302px;
      line-height: 33px;
      color: #000000;
    }
  }