@keyframes opacityin {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 101;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: opacityin;
    animation-duration: 0.5s;
  }
  .buttonInscription{
        display:flex;
        justify-content: center;
        align-items: center;    
        margin: 0 auto;
        width: 130px;
        height: 57px;
        background: #ffffff;
        border: 3px solid #eb575a;
        border-radius: 16px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 15.4302px;
        line-height: 33px;
        color: #eb575a;
      }
      .buttonInscription:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
      .closeButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        color: red;
        background-color: transparent;
        border: none;
        font-size: 1.8rem;
        cursor: pointer;
      }
      
      .closeButton:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      