.course-card-main {
  text-decoration: none;
  width: 300px;
}

.course-card {
  background: transparent;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  text-decoration: none;
}

.course-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 10px 0.3px #cdcdcd; 
  text-decoration: none;
}

.course-card img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.course-card h3 {
  font-size: 23px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.course-card span {
  text-decoration: none;
}

.course-details-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 30px 10px;
}

.card-button {
  background-color: #EB575A;
  border: none;
  border-radius: 5px;
  color: #f3f2f2;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  width: 70%;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .button-link {
    width: 300px;
  }
  
  .course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .course-image img {
    width: 100%;
  }

  .card-button {
    background-color: #EB575A;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    width: 80%;
  }
}
